<div class="color_dark container-fluid row header clearfix">
    <div class="col-xs-6">
        <div class="col-xs-4"><img src="" height="auto" alt=""></div>
    </div>
    <div class="col-xs-6 flex " ng-controller="myController">
        <div class="col-xs-7"></div>
        <button class="color_grey col-xs-0 navbar-collapse collapse btn col-xs-1"><a href="/Fab5/pages/register">REGISTER</a></button>
        <div class="col-xs-1"></div>
        <button class="color_grey navbar-collapse collapse btn col-xs-1 col-xs-2 col-xs-3"><a href="/Fab5/pages/profile">LOGIN</a></button>
    </div>
</div>